<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.pm.dao.ParkingCarMapper">
  <resultMap id="BaseResultMap" type="com.example.pm.entity.ParkingCar">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="plate" jdbcType="VARCHAR" property="plate" />
    <result column="timestamp" jdbcType="BIGINT" property="timestamp" />
  </resultMap>
</mapper>